/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */

html {
  box-sizing: border-box;
}
  
*, *:before,*:after {
  box-sizing:inherit
}
  
html {
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
}
  
body {
  margin:0
}


/* Main CSS */

html, body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
  font-size:17px;
  line-height:1.5;
  color:red;
}

h1 {
  font-size:36px;
}

h2 {
  font-size:30px;
}

h3 {
  font-size:24px;
}

h4 {
  font-size:20px;
}

h5 {
  font-size:18px;
}

h6 {
  font-size:16px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight:400;
  margin:0.3em 0;
}

/* The navigation bar */
.header {
  position: fixed;
  overflow: hidden;
  background-color: #333;
  top: 0;
  width: 100%;
}

#menu {
  margin: 0.5em 0 0.25em 0;
  padding-left: 0;
}

.menu-item {
  display: inline-block;
  padding: 0 0.5em;
}

/* Links inside the navbar */
.navbar a {
  float: center;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 0.1em 1em  ;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  color: gray;
}

.content {
  max-width: 960px;
  margin: auto;
}






