body {
  margin:0;
  padding:0;
}

html body {
  font-size: 17px;
}

/* Top navigation bar */

nav {
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;      
}

nav ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  margin: 0.5em 0.5em;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  color: grey;
}

/* Main content area */

.main {
  padding: 0em;
  margin-top: 2em;
  height: 1500px;
}