html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: var(--background-color);
}

body {
  margin: 0;
  padding: 0
}

html, body {
  height: 100%
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 17px;
  line-height: 1.5;
  color: var(--text-color);
  font-weight: 400
}

/* Text */

h1 {
  margin-bottom: 0.5em;
  font-size: 2em;
  font-weight: 400;
  line-height: 1
}

h2 {
  margin-bottom: 0.5em;
  font-size: 1.75em;
  font-weight: 400;
  line-height: 1
}

h3 {
  margin-bottom: 0.5em;
  font-size: 1.25em;
  font-weight: 400;
  line-height: 1
}

@media screen and (min-width: 640px) {
  body {
    font-size: 1.125em;
  }
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1.25em;
  }
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.5em;
  }
}

/* Content */

/* Hack for IE 9, 10 and 11. */
main {
  display: block;
}

#content {
  margin: 0 auto;
  padding: 0.5em 1em;
}

#content {
  max-width: 32em;
}

#banner, #sidebar, #addendum {
	text-align: center;
}

/* Header */

#banner {
	margin: 0 auto;
	padding: 0.5em 1em;
	background-color: var(--header-background-color);
        text-align: center;
}

#banner  {
	box-sizing:border-box;
}

#banner {
}

/* Logo */

#banner h1 {
	float: left;
	font: normal 28px Cookie, Arial, Helvetica, sans-serif;
	line-height: 40px;
	margin: 0;
}

#banner h1 span {
	color: var(--header-subtitle-color);
}

/* The header links */

#banner a {
        color: var(--header-title-color);
	text-decoration: none;
}

#banner nav {

	float: right;
}

#banner nav a {
	display: inline-block;
	padding: 0 5px;
	text-decoration:none;
        color: var(--header-link-color);
	line-height: 1;
}

#banner nav a.selected {
	background-color: var(--header-link-selected-background-color);
	color: var(--header-link-selected-color);
	border-radius: 3px;
	padding:6px 10px;
}

