
:root {
}


html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}


body {
  margin:0;
  padding:0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  transition: color var(--transition-duration) var(--transition-timing), background-color var(--transition-duration) var(--transition-timing);
}

/* Header */


.header {
	padding: 20px 40px;
	box-sizing:border-box;
	box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15);
	height: 80px;
	background-color: var(--header-background-color);
}

.header .header-limiter {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

/* Logo */

.header .header-limiter h1 {
	float: left;
	font: normal 28px Cookie, Arial, Helvetica, sans-serif;
	line-height: 40px;
	margin: 0;
}

.header .header-limiter h1 span {
	color: var(--header-subtitle-color);
}

/* The header links */

.header .header-limiter a {
        color: var(--header-title-color);
	text-decoration: none;
}

.header .header-limiter nav {
	font:15px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: right;
}

.header .header-limiter nav a {
	display: inline-block;
	padding: 0 5px;
	text-decoration:none;
        color: var(--header-link-color);
	line-height: 1;
}

.header .header-limiter nav a.selected {
	background-color: var(--header-link-selected-background-color);
	color: var(--header-link-selected-color);
	border-radius: 3px;
	padding:6px 10px;
}


/* Footer */

footer {
	margin: 20px 0;
	color: var(--branding-text-color);
	background-color: var(--branding-background-color);
	padding: 10px 20px;
}

footer p {
	margin: 10px auto;
	max-width: 600px;
}

section {
	margin: auto;
	max-width: 600px;
	padding: 10px 20px;
}

section h2 {
	border-bottom: 2px solid var(--accent-color);
}

section p.highlighted {
 	padding: 10px;
	background-color: var(--accent-color);
}

section button {
	font-size: 1em;
	font-weight: 600;
	padding: 10px 15px 10px 40px;
	border-radius: 20px;
	border: none;
	color: var(--control-text-color);
	background-position: 10px center;
	background-size: 24px 24px;
	background-repeat: no-repeat;
	background-color: var(--control-color);
}


section div.container {
	height: 200px;
	overflow: scroll;
	overflow-x: hidden;
	background-color: var(--container-color);
}

section div.container p {
	margin: 10px;
}
