body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
}

p, li, dt, dd, pre, label, input, table {
  line-height: 1.5em;
}

#toc {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: gray;
}


h1 {
  margin-top: 1.5em;
}

#banner {
  position:fixed;
  top: 0;
  width: 100%;
}

#banner {
  margin: 0 auto;
  padding: 0.5em 1em;
}

#banner {
  color: #fff;
  background: #333;
}

#siteTitle {
  font-weight: 400;
  font-size: 0.8em;
}

#banner a {
  color: white;
  letter-spacing: .021em;

}

#banner a:hover {
  opacity: .65;
}

#banner {
  text-align: center;
}

#toc {
  font-size: 0.6em;
}

#siteTitle {
  margin: 0.25em 0;
}


#menu {
  margin: 0.5em 0 0.25em 0;
  padding-left: 0;
  text-transform: uppercase;
}

.menu-item {
  display: inline-block;
  padding: 0 0.5em;
}

@media screen and (min-width: 640px) {

  body {
    font-size: 1.125em;
  }
}

@media screen and (min-width: 768px) {

  body {
    font-size: 1.25em;
  }
}

@media screen and (min-width: 1024px) {

  body {
    font-size: 1.5em;
  }
}



html {
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0;
    padding: 0
}

ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, hgroup, p, blockquote, figure,
form, fieldset, input, legend, pre, abbr {
    margin: 0;
    padding: 0
}

pre, code, address, caption, th, figcaption {
    font-size: 1em;
    font-weight: normal;
    font-style: normal
}

fieldset, iframe, img {
    border: none
}

caption, th {
    text-align: left
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

article, aside, footer, header, nav, main, section, summary, details,
hgroup, figure, figcaption {
    display: block
}

audio, canvas, video, progress {
    display: inline-block;
    vertical-align: baseline
}

button {
    font: inherit;
    vertical-align: middle
}

.highlight {
    background: #ffffff
}

.highlight .c {
    color: #999988;
    font-style: italic
}

.highlight .err {
    color: #a61717;
    background-color: #e3d2d2
}

.highlight .k {
    font-weight: bold
}

.highlight .o {
    font-weight: bold
}

.highlight .cm {
    color: #999988;
    font-style: italic
}

.highlight .cp {
    color: #999999;
    font-weight: bold
}

.highlight .c1 {
    color: #999988;
    font-style: italic
}

.highlight .cs {
    color: #999999;
    font-weight: bold;
    font-style: italic
}

.highlight .gd {
    color: #000000;
    background-color: #fdd
}

.highlight .gd .x {
    color: #000000;
    background-color: #faa
}

.highlight .ge {
    font-style: italic
}

.highlight .gr {
    color: #a00
}

.highlight .gh {
    color: #999
}

.highlight .gi {
    color: #000000;
    background-color: #dfd
}

.highlight .gi .x {
    color: #000000;
    background-color: #afa
}

.highlight .go {
    color: #888
}

.highlight .gp {
    color: #555
}

.highlight .gs {
    font-weight: bold
}

.highlight .gu {
    color: #aaa
}

.highlight .gt {
    color: #a00
}

.highlight .kc {
    font-weight: bold
}

.highlight .kd {
    font-weight: bold
}

.highlight .kp {
    font-weight: bold
}

.highlight .kr {
    font-weight: bold
}

.highlight .kt {
    color: #445588;
    font-weight: bold
}

.highlight .m {
    color: #099
}

.highlight .s {
    color: #d14
}

.highlight .na {
    color: teal
}

.highlight .nb {
    color: #0086B3
}

.highlight .nc {
    color: #445588;
    font-weight: bold
}

.highlight .no {
    color: teal
}

.highlight .ni {
    color: purple
}

.highlight .ne {
    color: #990000;
    font-weight: bold
}

.highlight .nf {
    color: #990000;
    font-weight: bold
}

.highlight .nn {
    color: #555
}

.highlight .nt {
    color: navy
}

.highlight .nv {
    color: teal
}

.highlight .ow {
    font-weight: bold
}

.highlight .w {
    color: #bbb
}

.highlight .mf {
    color: #099
}

.highlight .mh {
    color: #099
}

.highlight .mi {
    color: #099
}

.highlight .mo {
    color: #099
}

.highlight .sb {
    color: #d14
}

.highlight .sc {
    color: #d14
}

.highlight .sd {
    color: #d14
}

.highlight .s2 {
    color: #d14
}

.highlight .se {
    color: #d14
}

.highlight .sh {
    color: #d14
}

.highlight .si {
    color: #d14
}

.highlight .sx {
    color: #d14
}

.highlight .sr {
    color: #009926
}

.highlight .s1 {
    color: #d14
}

.highlight .ss {
    color: #990073
}

.highlight .bp {
    color: #999
}

.highlight .vc {
    color: teal
}

.highlight .vg {
    color: teal
}

.highlight .vi {
    color: teal
}

.highlight .il {
    color: #099
}

* , * :before, * :after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html, body {
    height: 100%
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #333;
    font-weight: 300
}

body pre, body code {
    font-family: Menlo, Consolas, Monaco, "Courier New", monospace, serif
}

a:link {
    color: #0088cc;
    text-decoration: none
}

a:visited {
    color: #7766cc
}

a:active {
    color: #0088cc
}

a:hover {
    color: #0088cc;
    text-decoration: underline
}

p {
    margin-bottom: 1.5em
}

h1 {
    margin-bottom: 0.5em;
    font-size: 3em;
    font-weight: 200;
    line-height: 1
}

h1.active + .main-nav {
    border-top: 1px solid #333
}

h2 {
    margin-bottom: 0.5em;
    font-size: 2.5em;
    font-weight: 200;
    line-height: 1
}

h3 {
    margin-bottom: 0.5em;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1
}

h4 {
    margin-bottom: 0.5em;
    font-size: 1.25em;
    font-weight: 300;
    line-height: 1.2
}

h5 {
    margin-bottom: 0.5em;
    font-size: 1.175em;
    font-weight: 500;
    line-height: 1.4
}

h6 {
    margin-bottom: 0.5em;
    font-size: 1em;
    font-weight: 700;
    line-height: 1.5
}

pre {
    font-size: 14px;
    line-height: 18px;
    border-left: 3px #ef5138 solid;
    margin: 0.5em;
    margin-left: 10px;
    margin-bottom: 1.5em;
    padding: 0.5em;
    padding-left: 1em;
    overflow: scroll
}

p > code, li > code, dd > code, blockquote > code, td > code {
    color: #000;
    padding: 3px 8px;
    font-size: 14px;
    white-space: nowrap;
    border: 1px solid #E5E5E5;
    background-color: #f7f7f7
}

hr {
    border: none;
    border-top: 1px #f3f3f3 solid;
    margin: 2em 0
}

hr:last-child {
    display: none
}

details {
    margin-bottom: 2em
}

details :first-child {
    margin-top: 1.5em
}

cite {
    display: block
}

cite:before {
    content: "— "
}

#logo {
    text-indent: -9999px;
    height: 48px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0.5em;
    padding-bottom: 10px
}

#logo a {
    display: block;
    width: 190px;
    height: 48px;
    background-image: url("/assets/images/swift.svg");
    background-repeat: no-repeat;
    background-size: 190px 48px
}

nav[role="navigation"] {
    width: 250px;
    position: fixed;
    overflow: scroll;
    left: 0;
    top: 0;
    bottom: 0;
    background: #FAFAFA;
    border-right: 1px solid #e6e6e6;
    padding: 20px 30px
}

nav[role="navigation"] ul {
    border-top: 1px solid #e6e6e6;
    font-weight: 400;
    margin-bottom: 30px;
    list-style: none
}

nav[role="navigation"] ul ul {
    list-style: none
}

nav[role="navigation"] ul li {
    border-bottom: 1px solid #e6e6e6
}

nav[role="navigation"] ul li.active {
    border-bottom: 1px solid #333
}

nav[role="navigation"] ul li.active a {
    font-weight: 700
}

nav[role="navigation"] ul li a:link {
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    display: block;
    padding: 10px
}

nav[role="navigation"] ul li a:visited {
    color: #333
}

nav[role="navigation"] ul li a:active {
    font-weight: 700
}

nav[role="navigation"] ul li a:hover {
    color: #0088cc
}

nav[role="navigation"] ul li ul {
    margin-bottom: 10px;
    border-top: none
}

nav[role="navigation"] ul li ul li {
    border-bottom: none;
    padding: 0.1em
}

nav[role="navigation"] ul li ul li.active {
    border-bottom: none
}

nav[role="navigation"] ul li ul li.active a {
    font-weight: 700
}

nav[role="navigation"] ul li ul a:link {
    color: #0088cc;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0;
    font-size: 12px;
    display: block;
    margin-left: 15px;
    padding: 0 0 3px;
    border-bottom: none;
    font-weight: 300
}

nav[role="navigation"] ul li ul a:hover {
    text-decoration: underline
}

nav[role="navigation"] h2 {
    font-size: 0.75em;
    font-weight: 700;
    text-transform: lowercase;
    font-variant: small-caps;
    color: #999;
    padding-bottom: 0.5em
}

main {
    max-width: 798px;
    min-width: 320px;
    margin-left: 250px;
    padding: 45px 30px 0;
    min-height: 100%;
    height: auto !important;
    height: 100%
}

footer[role="contentinfo"] {
    background: #333;
    color: white;
    padding: 20px 30px;
    margin-left: 250px;
    min-height: 74px
}

footer[role="contentinfo"] p {
    font-size: 0.625em;
    color: #ccc;
    line-height: 1em;
    margin-bottom: 1em
}

footer[role="contentinfo"] p.privacy a {
    color: #ccc;
    border-right: 1px solid #ccc;
    margin-right: 6px;
    padding-right: 8px
}

footer[role="contentinfo"] p.privacy a:last-child {
    border: none;
    margin: 0;
    padding: 0
}

footer[role="contentinfo"] aside {
    position: relative;
    width: 100%;
    max-width: 700px;
    margin-right: 68px
}

footer[role="contentinfo"] aside i {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: 16px;
    display: block;
    margin-left: 1em;
    float: right
}

footer[role="contentinfo"] aside i.twitter {
    background-image: url("/assets/images/icon-twitter.svg")
}

footer[role="contentinfo"] aside i.feed {
    background-image: url("/assets/images/icon-feed.svg")
}

article:first-of-type {
    padding-bottom: 36px
}

article h2 {
    padding-top: 1.1em
}

article h3 {
    padding-top: 1em
}

article h4 {
    padding-top: 1em;
    border-bottom: 1px #f3f3f3 solid;
    padding-bottom: 0.5em
}

article h5 {
    margin-top: 1em
}

article header {
    width: 100%;
    display: inline-block;
    padding-bottom: 3em
}

article header h1 {
    padding-bottom: 0.125em
}

article header .byline {
    float: left;
    font-size: 14px;
    margin-left: 3em
}

article header .byline img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px #ccc solid;
    position: absolute;
    margin-right: 0.25em;
    margin-top: -6px
}

article header .byline span {
    padding-left: 42px
}

article header time {
    float: left;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    color: #aaa
}

article header .tags {
    display: block;
    font-size: 12px;
    font-weight: 400;
    margin-top: 0
}

article:not(:first-of-type) {
    border-top: 1px solid #e6e6e6;
    padding: 36px 0
}

article blockquote {
    border-left: 3px #c3c3c3 solid;
    margin: 0.5em;
    margin-left: 10px;
    margin-bottom: 1.5em;
    padding: 0.5em;
    padding-left: 1em;
    color: #333
}

article ul, article ol {
    padding-left: 40px;
    margin: 1em 0
}

article ul ul, article ul ol, article ol ul, article ol ol {
    margin: 0
}

article ul {
    list-style: disc
}

article ul ul {
    list-style: circle
}

article ul ul ul {
    list-style: square
}

article ol {
    list-style: decimal
}

article dl {
    margin: 2em 0 1em 0
}

article dl:after {
    content: "";
    display: table;
    clear: both
}

article dl dt {
    float: left;
    clear: right;
    margin-right: 1em;
    display: block;
    width: 28%;
    text-align: right
}

article dl dd {
    float: right;
    width: 65%;
    margin-bottom: 1em;
    overflow: scroll
}

article dl dd {
    padding-bottom: 1em;
    border-bottom: 1px #f3f3f3 solid
}

article table {
    width: auto;
    min-width: 68%;
    margin: 2em auto 3em auto;
    border-collapse: separate;
    border: 1px #e3e3e3 solid
}

article table th {
    background: #fafafa;
    font-weight: 700;
    text-align: center
}

article table th, article table td {
    width: 50%;
    padding: 0.5em 1.5em;
    border-bottom: 1px #f3f3f3 solid
}

article table th:not(:first-child), article table td:not(:first-child) {
    border-left: 1px #f3f3f3 solid
}

article table tr:last-child td {
    border-bottom: none
}

article details {
    margin-top: 0;
    cursor: pointer
}

article details summary {
    padding-bottom: 0.5em;
    outline: none;
    margin-top: 0
}

article details summary:after {
    content: "Expand";
    text-transform: lowercase;
    font-variant: small-caps;
    border-bottom: 1px #ccc dashed
}

article details[open] summary:after {
    content: "Collapse"
}

article details[open] * :not(summary) {
    cursor: auto
}

article details.download {
    margin-top: 0;
    cursor: pointer
}

article details.download summary {
    padding-bottom: 0.5em;
    outline: none;
    margin-top: 0
}

article details.download summary:after {
    content: none;
    text-transform: lowercase;
    font-variant: small-caps;
    border-bottom: 1px #ccc dashed
}

article details.download[open] summary:after {
    content: none
}

article details.download[open] * :not(summary) {
    cursor: auto
}

article > details {
    margin-left: 40px
}

article .good pre, article pre.good {
    background: #E6FFE5;
    border-color: #C0FFBC
}

article .good pre:before, article pre.good:before {
    content: "✅";
    float: right
}

article .bad pre, article pre.bad {
    background: #F9E2E4;
    border-color: #F6B7BE
}

article .bad pre:before, article pre.bad:before {
    content: "⛔️";
    float: right
}

article footer {
    margin: 4em 0 0 0;
    padding: 1.5em 0 1em 0;
    border-top: 1px #F3F3F3 solid
}

article footer:after {
    content: "";
    display: table;
    clear: both
}

article footer nav [rel="prev"] {
    width: 45%;
    float: left;
    text-align: left
}

article footer nav [rel="prev"]:before {
    content: "← "
}

article footer nav [rel="next"] {
    width: 45%;
    float: right;
    text-align: right
}

article footer nav [rel="next"]:after {
    content: " →"
}

.title a:link, .title a:visited {
    color: #333
}

.alert, .success, .info, .warning, .danger {
    border-width: 1px;
    border-style: solid;
    padding: 0.5em;
    margin: 0.5em 0 1.5em 0
}

.alert p:first-child, .success p:first-child, .info p:first-child,
.warning p:first-child, .danger p:first-child {
    margin-top: 0
}

.alert p:last-child, .success p:last-child, .info p:last-child, .warning p:last-child,
.danger p:last-child {
    margin-bottom: 0
}

.alert code, .success code, .info code, .warning code, .danger code {
    border: none;
    background: transparent;
    padding: 0
}

code {
    white-space: pre-line
}

pre code {
    white-space: inherit
}

pre code .graphic {
    font-size: 19px;
    line-height: 0
}

pre code .commentary, pre code .graphic {
    font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif
}

@supports (overflow: -webkit-marquee) and (justify-content: inherit) {
    .alert:before, .success:before, .info:before, .warning:before, .danger:before {
        font-size: 1em;
        float: left;
        clear: left;
        padding-left: 0.125em;
        width: 2em
    }
    
    .alert p, .success p, .info p, .warning p, .danger p {
        padding-left: 2em
    }
    
    .success:before {
        content: "✅"
    }
    
    .info:before {
        content: "ℹ️"
    }
    
    .warning:before {
        content: "⚠️"
    }
    
    .danger:before {
        content: "❗️"
    }
}

.success {
    border-color: #149e39;
    background-color: #e0ffe8
}

.info {
    border-color: #139CFE;
    background-color: #DEF0FD
}

.warning {
    border-color: #FFFF10;
    background-color: #FFFFEB
}

.danger {
    border-color: #D5001B;
    background-color: #FEE1E2
}

table.downloads {
    width: 100%;
    table-layout: fixed
}

table.downloads th {
    font-size: 0.75em
}

table.downloads .platform {
    width: 40%
}

table.downloads .download {
    width: 60%
}

table.downloads .download a.debug, table.downloads .download a.signature {
    font-size: 0.7em;
    display: block
}

table.downloads .download a {
    font-weight: 700;
    font-size: 1em
}

table.downloads .download a:not([download]) {
    font-weight: 400
}

table.downloads .download a:not([download]):before {
    content: "("
}

table.downloads .download a:not([download]):after {
    content: ")"
}

article input.detail[type=checkbox] {
    visibility: hidden;
    cursor: pointer;
    height: 0;
    width: 100%;
    margin-bottom: 2em;
    display: block;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    font-family: inherit;
    position: relative;
    top: -.85rem
}

article p + input.detail[type=checkbox] {
    margin-top: auto
}

article .screenonly {
    display: none
}

@media screen {
    article .screenonly {
        display: inherit
    }
    
    article input.detail[type=checkbox]:before {
        content: "▶ ";
        visibility: visible;
        font-size: 80%
    }
    
    article input.detail[type=checkbox]:after {
        text-transform: lowercase;
        font-variant: small-caps;
        border-bottom: 1px #ccc dashed;
        color: #666666;
        content: "More detail";
        visibility: visible
    }
    
    article input.detail[type=checkbox]:checked:before {
        content: "▼ "
    }
    
    article input.detail[type=checkbox]:checked:after {
        content: "Less detail"
    }
    
    article input.detail[type=checkbox] + .more {
        transition: 0.5s opacity ease, 0.5s max-height ease
    }
    
    article input.detail[type=checkbox]:checked + .more {
        visibility: visible;
        max-height: 1000rem
    }
    
    article input.detail[type=checkbox]:not(:checked) + .more {
        overflow: hidden;
        max-height: 0px;
        opacity: 0
    }
}

article .more > p:first-of-type {
    margin-top: 0
}

@media only screen and (max-width: 767px) {
    nav[role="navigation"] {
        width: 100%;
        position: relative;
        background: #FAFAFA;
        border-bottom: 1px solid #e6e6e6;
        border-right: none;
        padding: 20px 30px;
        overflow: hidden
    }
    
    nav[role="navigation"].open > * {
        display: block
    }
    
    nav[role="navigation"] > h2, nav[role="navigation"] ul {
        display: none
    }
    
    .menu-toggle {
        float: right;
        content: ' ';
        height: 20px;
        width: 20px;
        background-image: url("/assets/images/icon-close.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 21px 21px;
        margin-top: -48px;
        margin-right: 12px;
        cursor: pointer
    }
    
    .menu-toggle.open {
        background-image: url("/assets/images/icon-menu.svg")
    }
    
    #logo a {
        width: 198px;
        margin: 0 auto
    }
    
    main {
        max-width: 100%;
        min-width: 320px;
        margin-left: 0;
        padding: 30px 30px 0
    }
    
    footer[role="contentinfo"] {
        margin-left: 0
    }
    
    h1 {
        font-size: 48px;
        font-weight: 200;
        line-height: 1
    }
    
    h2 {
        font-size: 40px;
        font-weight: 300;
        line-height: 1.1
    }
    
    h3 {
        font-size: 38px;
        font-weight: 300;
        line-height: 1.1
    }
    
    h4 {
        font-size: 36px;
        font-weight: 300;
        line-height: 1.2
    }
    
    h5 {
        font-size: 24px;
        font-weight: 500;
        line-height: 1.4
    }
    
    h6 {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.5
    }
    
    table.downloads {
        border: 1px #f3f3f3 solid
    }
    
    table.downloads, table.downloads thead, table.downloads tbody, table.downloads th,
    table.downloads td, table.downloads tr {
        display: block !important
    }
    
    table.downloads thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px
    }
    
    table.downloads tr {
        border: 1px solid #f3f3f3
    }
    
    table.downloads td {
        border-left: none !important;
        border-right: none !important;
        border-bottom: 1px solid #f3f3f3 !important;
        position: relative;
        padding-left: 35%;
        width: 100% !important
    }
    
    table.downloads td:before {
        position: absolute;
        top: 0.5em;
        left: 0.5em;
        width: 27.5%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: right
    }
    
    table.downloads td.platform:before {
        content: "Platform"
    }
    
    table.downloads td.download:before {
        content: "Download";
        top: 1em
    }
    
    table.downloads td.date:before {
        content: "Date"
    }
}

@media only print {
    html body {
        background: white;
        font-size: 12pt;
        padding: 0.5in
    }
    
    html body * {
        -webkit-print-color-adjust: exact
    }
    
    a {
        color: black !important;
        text-decoration: underline !important
    }
    
    a[href^="http://"]:after {
        content: " (" attr(href) ") ";
        color: #444
    }
    
    h1, h2, h3, h4, h5, h6, p, article > div, pre, table {
        page-break-inside: avoid
    }
    
    details:not([open]) {
        visibility: visible
    }
    
    details:not([open]) summary {
        display: none !important
    }
    
    details:not([open]) > * , details:not([open]) {
        display: block
    }
    
    .alert, .success, .info, .warning, .danger {
        margin: 1.5em 0
    }
    
    main {
        width: auto;
        padding: 0;
        border: 0;
        float: none !important;
        color: black;
        background: transparent;
        margin: 0;
        max-width: 100%;
        min-height: 1in
    }
    
    nav[role="navigation"] {
        background: transparent;
        border: none;
        width: auto;
        position: static;
        padding: 0
    }
    
    nav[role="navigation"] h2, nav[role="navigation"] ul {
        display: none
    }
    
    nav[role="navigation"] #logo {
        position: static;
        margin-bottom: 1.5em
    }
    
    nav[role="navigation"] #logo a {
        background-position: -15px
    }
    
    footer[role="contentinfo"] {
        display: none
    }
}






/* Photo cards */

.card ul li {
    margin: 1em 1em;
    width: 40%;
    display: inline-block;
    list-style: none;
}

.card ul ul {
    border: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

.card ul ul li {
    margin: 0;
    border: none;
    width: 100%;
    list-style: none;
    padding: 0.25em 0 0.5em 0;
}

.card ul li img {
    width: 100%;
    height: auto;
}

/* Google maps */

.google-maps {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
    margin-bottom: 20px;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}


/* Photo cards */

.card ul li {
  margin: 1em 1em;
  width: 35%;
  display: inline-block;
  list-style: none;
}

.card ul ul {
  border: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.card ul ul li {
  margin: 0;
  border: none;
  width: 100%;
  list-style: none;
  padding: 0.25em 0 0.5em 0;
}

.card ul li img {
  width: 100%;
  height: auto;
}

/* Google maps */

.google-maps {
	position: relative;
	padding-bottom: 75%; // This is the aspect ratio
	height: 0;
	overflow: hidden;
	margin-bottom: 20px;
}

.google-maps iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}

/* Table */

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px 1em;
    text-align: left;
}

th {
    background-color: #a51c30;
    color: white;
    text-align: center;
}

tfoot {
	background-color: DCDCDC;

}








/* Lab members */

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0;
    padding: 0
}

ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, hgroup, p, blockquote, figure,
form, fieldset, input, legend, pre, abbr, button {
    margin: 0;
    padding: 0
}

pre, code, address, caption, th, figcaption {
    font-size: 1em;
    font-weight: normal;
    font-style: normal
}

fieldset, iframe, img {
    border: 0
}

caption, th {
    text-align: left
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

article, aside, footer, header, nav, main, section, summary, details,
hgroup, figure, figcaption {
    display: block
}

audio, canvas, video, progress {
    display: inline-block;
    vertical-align: baseline
}

button {
    background: none;
    border: 0;
    box-sizing: content-box;
    color: inherit;
    cursor: pointer;
    font: inherit;
    line-height: inherit;
    overflow: visible;
    vertical-align: inherit
}

button:disabled {
    cursor: default
}

:focus {
    outline: 3px solid #c1e0fe;
    outline: 3px solid rgba(131, 192, 253, 0.5);
    outline-offset: 1px
}

:focus[data-focus-method="mouse"]:not(input):not(textarea):not(select),
:focus[data-focus-method="touch"]:not(input):not(textarea):not(select) {
    outline: none
}

::-moz-focus-inner {
    border: 0;
    padding: 0
}

@media print {
    body, #main, #content {
        color: #000
    }

    a, a:link, a:visited {
        color: #000;
        text-decoration: none
    }

    #globalheader, #globalfooter, #directorynav, #tabs, .noprint, .hide {
        display: none
    }
}

html {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 106.25%;
    quotes: "“" "”"
}

body {
    font-size: 17px;
    line-height: 1.52947;
    font-weight: 400;
    letter-spacing: -.021em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background-color: #fff;
    color: #333;
    font-style: normal
}

body, input, textarea, select, button {
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    direction: ltr;
    text-align: left
}

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
    display: block;
    margin: 0
}

h1 + * , h2 + * , h3 + * , h4 + * , h5 + * , h6 + * {
    margin-top: .75em
}

h1 + h1, h1 + h2, h1 + h3, h1 + h4, h1 + h5, h1 + h6, h2 + h1, h2 + h2, h2 + h3, h2 + h4,
h2 + h5, h2 + h6, h3 + h1, h3 + h2, h3 + h3, h3 + h4, h3 + h5, h3 + h6, h4 + h1, h4 + h2, h4 + h3,
h4 + h4, h4 + h5, h4 + h6, h5 + h1, h5 + h2, h5 + h3, h5 + h4, h5 + h5, h5 + h6, h6 + h1, h6 + h2,
h6 + h3, h6 + h4, h6 + h5, h6 + h6 {
    margin-top: 0
}

p + h1, ul + h1, ol + h1, p + h2, ul + h2, ol + h2, p + h3, ul + h3, ol + h3, p + h4, ul + h4,
ol + h4, p + h5, ul + h5, ol + h5, p + h6, ul + h6, ol + h6 {
    margin-top: 1.4em
}

p + * , ul + * , ol + * {
    margin-top: .7em
}

ul, ol {
    margin-left: 1.17647em
}

ul ul, ul ol, ol ul, ol ol {
    margin-top: 0;
    margin-bottom: 0
}

nav ul, nav ol {
    margin: 0;
    list-style: none
}

li li {
    font-size: 1em
}

a {
    color: #0070c9
}

a:link, a:visited {
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

a:active {
    text-decoration: none
}

p + a {
    display: inline-block
}

.links-inline, .links-stacked {
    margin-left: 0;
    margin-right: 0;
    list-style: none
}

.links-inline li {
    display: inline;
    margin: 0 0.8em
}

.links-inline li:first-child {
    margin-left: 0
}

.links-inline li:last-child {
    margin-right: 0
}

.links-stacked li + li {
    margin-top: .3em
}

b, strong {
    font-weight: 700
}

em, i, cite, dfn {
    font-style: italic
}

sup {
    font-size: .6em;
    vertical-align: top;
    position: relative;
    bottom: -.2em
}

h1 sup, h2 sup, h3 sup {
    font-size: .4em
}

sup a {
    vertical-align: inherit;
    color: inherit
}

sup a:hover {
    color: #0070c9;
    text-decoration: none
}

sub {
    line-height: 1
}

abbr {
    border: 0
}

.selfclear:before, .selfclear:after {
    content: ' ';
    display: table
}

.selfclear:after {
    clear: both
}

.visuallyhidden {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0
}

.nowrap {
    display: inline-block;
    text-decoration: inherit;
    white-space: nowrap
}

.clear {
    clear: both
}

.cursor-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab
}

.cursor-grabbing {
    cursor: move;
    cursor: -webkit-grabbing;
    cursor: grabbing
}

.row {
    position: relative;
    z-index: 1
}

.row:before, .row:after {
    content: ' ';
    display: table
}

.row:after {
    clear: both
}

.column {
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 0;
    float: left;
    min-height: 2px
}

.large-offset-0 {
    margin-left: 0
}

.large-push-0 {
    left: auto;
    right: auto
}

.large-pull-0 {
    right: auto;
    left: auto
}

.large-1 {
    width: 8.33333%
}

.large-offset-1 {
    margin-left: 8.33333%
}

.large-push-1 {
    left: 8.33333%;
    right: auto
}

.large-pull-1 {
    right: 8.33333%;
    left: auto
}

.large-2 {
    width: 16.66667%
}

.large-offset-2 {
    margin-left: 16.66667%
}

.large-push-2 {
    left: 16.66667%;
    right: auto
}

.large-pull-2 {
    right: 16.66667%;
    left: auto
}

.large-3 {
    width: 25%
}

.large-offset-3 {
    margin-left: 25%
}

.large-push-3 {
    left: 25%;
    right: auto
}

.large-pull-3 {
    right: 25%;
    left: auto
}

.large-4 {
    width: 33.33333%
}

.large-offset-4 {
    margin-left: 33.33333%
}

.large-push-4 {
    left: 33.33333%;
    right: auto
}

.large-pull-4 {
    right: 33.33333%;
    left: auto
}

.large-5 {
    width: 41.66667%
}

.large-offset-5 {
    margin-left: 41.66667%
}

.large-push-5 {
    left: 41.66667%;
    right: auto
}

.large-pull-5 {
    right: 41.66667%;
    left: auto
}

.large-6 {
    width: 50%
}

.large-offset-6 {
    margin-left: 50%
}

.large-push-6 {
    left: 50%;
    right: auto
}

.large-pull-6 {
    right: 50%;
    left: auto
}

.large-7 {
    width: 58.33333%
}

.large-offset-7 {
    margin-left: 58.33333%
}

.large-push-7 {
    left: 58.33333%;
    right: auto
}

.large-pull-7 {
    right: 58.33333%;
    left: auto
}

.large-8 {
    width: 66.66667%
}

.large-offset-8 {
    margin-left: 66.66667%
}

.large-push-8 {
    left: 66.66667%;
    right: auto
}

.large-pull-8 {
    right: 66.66667%;
    left: auto
}

.large-9 {
    width: 75%
}

.large-offset-9 {
    margin-left: 75%
}

.large-push-9 {
    left: 75%;
    right: auto
}

.large-pull-9 {
    right: 75%;
    left: auto
}

.large-10 {
    width: 83.33333%
}

.large-offset-10 {
    margin-left: 83.33333%
}

.large-push-10 {
    left: 83.33333%;
    right: auto
}

.large-pull-10 {
    right: 83.33333%;
    left: auto
}

.large-11 {
    width: 91.66667%
}

.large-offset-11 {
    margin-left: 91.66667%
}

.large-push-11 {
    left: 91.66667%;
    right: auto
}

.large-pull-11 {
    right: 91.66667%;
    left: auto
}

.large-12 {
    width: 100%
}

.large-offset-12 {
    margin-left: 100%
}

.large-push-12 {
    left: 100%;
    right: auto
}

.large-pull-12 {
    right: 100%;
    left: auto
}

.large-centered {
    margin-left: auto;
    margin-right: auto;
    float: none
}

.large-uncentered {
    margin-left: 0;
    margin-right: 0
}

.large-last {
    float: right
}

.large-notlast {
    float: left
}

@media only screen and (min-width: 1442px) {
    .xlarge-offset-0 {
        margin-left: 0
    }

    .xlarge-push-0 {
        left: auto;
        right: auto
    }

    .xlarge-pull-0 {
        right: auto;
        left: auto
    }

    .xlarge-1 {
        width: 8.33333%
    }

    .xlarge-offset-1 {
        margin-left: 8.33333%
    }

    .xlarge-push-1 {
        left: 8.33333%;
        right: auto
    }

    .xlarge-pull-1 {
        right: 8.33333%;
        left: auto
    }

    .xlarge-2 {
        width: 16.66667%
    }

    .xlarge-offset-2 {
        margin-left: 16.66667%
    }

    .xlarge-push-2 {
        left: 16.66667%;
        right: auto
    }

    .xlarge-pull-2 {
        right: 16.66667%;
        left: auto
    }

    .xlarge-3 {
        width: 25%
    }

    .xlarge-offset-3 {
        margin-left: 25%
    }

    .xlarge-push-3 {
        left: 25%;
        right: auto
    }

    .xlarge-pull-3 {
        right: 25%;
        left: auto
    }

    .xlarge-4 {
        width: 33.33333%
    }

    .xlarge-offset-4 {
        margin-left: 33.33333%
    }

    .xlarge-push-4 {
        left: 33.33333%;
        right: auto
    }

    .xlarge-pull-4 {
        right: 33.33333%;
        left: auto
    }

    .xlarge-5 {
        width: 41.66667%
    }

    .xlarge-offset-5 {
        margin-left: 41.66667%
    }

    .xlarge-push-5 {
        left: 41.66667%;
        right: auto
    }

    .xlarge-pull-5 {
        right: 41.66667%;
        left: auto
    }

    .xlarge-6 {
        width: 50%
    }

    .xlarge-offset-6 {
        margin-left: 50%
    }

    .xlarge-push-6 {
        left: 50%;
        right: auto
    }

    .xlarge-pull-6 {
        right: 50%;
        left: auto
    }

    .xlarge-7 {
        width: 58.33333%
    }

    .xlarge-offset-7 {
        margin-left: 58.33333%
    }

    .xlarge-push-7 {
        left: 58.33333%;
        right: auto
    }

    .xlarge-pull-7 {
        right: 58.33333%;
        left: auto
    }

    .xlarge-8 {
        width: 66.66667%
    }

    .xlarge-offset-8 {
        margin-left: 66.66667%
    }

    .xlarge-push-8 {
        left: 66.66667%;
        right: auto
    }

    .xlarge-pull-8 {
        right: 66.66667%;
        left: auto
    }

    .xlarge-9 {
        width: 75%
    }

    .xlarge-offset-9 {
        margin-left: 75%
    }

    .xlarge-push-9 {
        left: 75%;
        right: auto
    }

    .xlarge-pull-9 {
        right: 75%;
        left: auto
    }

    .xlarge-10 {
        width: 83.33333%
    }

    .xlarge-offset-10 {
        margin-left: 83.33333%
    }

    .xlarge-push-10 {
        left: 83.33333%;
        right: auto
    }

    .xlarge-pull-10 {
        right: 83.33333%;
        left: auto
    }

    .xlarge-11 {
        width: 91.66667%
    }

    .xlarge-offset-11 {
        margin-left: 91.66667%
    }

    .xlarge-push-11 {
        left: 91.66667%;
        right: auto
    }

    .xlarge-pull-11 {
        right: 91.66667%;
        left: auto
    }

    .xlarge-12 {
        width: 100%
    }

    .xlarge-offset-12 {
        margin-left: 100%
    }

    .xlarge-push-12 {
        left: 100%;
        right: auto
    }

    .xlarge-pull-12 {
        right: 100%;
        left: auto
    }

    .xlarge-centered {
        margin-left: auto;
        margin-right: auto;
        float: none
    }

    .xlarge-uncentered {
        margin-left: 0;
        margin-right: 0
    }

    .xlarge-last {
        float: right
    }

    .xlarge-notlast {
        float: left
    }
}

@media only screen and (max-width: 1068px) {
    .medium-offset-0 {
        margin-left: 0
    }

    .medium-push-0 {
        left: auto;
        right: auto
    }

    .medium-pull-0 {
        right: auto;
        left: auto
    }

    .medium-1 {
        width: 8.33333%
    }

    .medium-offset-1 {
        margin-left: 8.33333%
    }

    .medium-push-1 {
        left: 8.33333%;
        right: auto
    }

    .medium-pull-1 {
        right: 8.33333%;
        left: auto
    }

    .medium-2 {
        width: 16.66667%
    }

    .medium-offset-2 {
        margin-left: 16.66667%
    }

    .medium-push-2 {
        left: 16.66667%;
        right: auto
    }

    .medium-pull-2 {
        right: 16.66667%;
        left: auto
    }

    .medium-3 {
        width: 25%
    }

    .medium-offset-3 {
        margin-left: 25%
    }

    .medium-push-3 {
        left: 25%;
        right: auto
    }

    .medium-pull-3 {
        right: 25%;
        left: auto
    }

    .medium-4 {
        width: 33.33333%
    }

    .medium-offset-4 {
        margin-left: 33.33333%
    }

    .medium-push-4 {
        left: 33.33333%;
        right: auto
    }

    .medium-pull-4 {
        right: 33.33333%;
        left: auto
    }

    .medium-5 {
        width: 41.66667%
    }

    .medium-offset-5 {
        margin-left: 41.66667%
    }

    .medium-push-5 {
        left: 41.66667%;
        right: auto
    }

    .medium-pull-5 {
        right: 41.66667%;
        left: auto
    }

    .medium-6 {
        width: 50%
    }

    .medium-offset-6 {
        margin-left: 50%
    }

    .medium-push-6 {
        left: 50%;
        right: auto
    }

    .medium-pull-6 {
        right: 50%;
        left: auto
    }

    .medium-7 {
        width: 58.33333%
    }

    .medium-offset-7 {
        margin-left: 58.33333%
    }

    .medium-push-7 {
        left: 58.33333%;
        right: auto
    }

    .medium-pull-7 {
        right: 58.33333%;
        left: auto
    }

    .medium-8 {
        width: 66.66667%
    }

    .medium-offset-8 {
        margin-left: 66.66667%
    }

    .medium-push-8 {
        left: 66.66667%;
        right: auto
    }

    .medium-pull-8 {
        right: 66.66667%;
        left: auto
    }

    .medium-9 {
        width: 75%
    }

    .medium-offset-9 {
        margin-left: 75%
    }

    .medium-push-9 {
        left: 75%;
        right: auto
    }

    .medium-pull-9 {
        right: 75%;
        left: auto
    }

    .medium-10 {
        width: 83.33333%
    }

    .medium-offset-10 {
        margin-left: 83.33333%
    }

    .medium-push-10 {
        left: 83.33333%;
        right: auto
    }

    .medium-pull-10 {
        right: 83.33333%;
        left: auto
    }

    .medium-11 {
        width: 91.66667%
    }

    .medium-offset-11 {
        margin-left: 91.66667%
    }

    .medium-push-11 {
        left: 91.66667%;
        right: auto
    }

    .medium-pull-11 {
        right: 91.66667%;
        left: auto
    }

    .medium-12 {
        width: 100%
    }

    .medium-offset-12 {
        margin-left: 100%
    }

    .medium-push-12 {
        left: 100%;
        right: auto
    }

    .medium-pull-12 {
        right: 100%;
        left: auto
    }

    .medium-centered {
        margin-left: auto;
        margin-right: auto;
        float: none
    }

    .medium-uncentered {
        margin-left: 0;
        margin-right: 0
    }

    .medium-last {
        float: right
    }

    .medium-notlast {
        float: left
    }
}

@media only screen and (max-width: 735px) {
    .small-offset-0 {
        margin-left: 0
    }

    .small-push-0 {
        left: auto;
        right: auto
    }

    .small-pull-0 {
        right: auto;
        left: auto
    }

    .small-1 {
        width: 8.33333%
    }

    .small-offset-1 {
        margin-left: 8.33333%
    }

    .small-push-1 {
        left: 8.33333%;
        right: auto
    }

    .small-pull-1 {
        right: 8.33333%;
        left: auto
    }

    .small-2 {
        width: 16.66667%
    }

    .small-offset-2 {
        margin-left: 16.66667%
    }

    .small-push-2 {
        left: 16.66667%;
        right: auto
    }

    .small-pull-2 {
        right: 16.66667%;
        left: auto
    }

    .small-3 {
        width: 25%
    }

    .small-offset-3 {
        margin-left: 25%
    }

    .small-push-3 {
        left: 25%;
        right: auto
    }

    .small-pull-3 {
        right: 25%;
        left: auto
    }

    .small-4 {
        width: 33.33333%
    }

    .small-offset-4 {
        margin-left: 33.33333%
    }

    .small-push-4 {
        left: 33.33333%;
        right: auto
    }

    .small-pull-4 {
        right: 33.33333%;
        left: auto
    }

    .small-5 {
        width: 41.66667%
    }

    .small-offset-5 {
        margin-left: 41.66667%
    }

    .small-push-5 {
        left: 41.66667%;
        right: auto
    }

    .small-pull-5 {
        right: 41.66667%;
        left: auto
    }

    .small-6 {
        width: 50%
    }

    .small-offset-6 {
        margin-left: 50%
    }

    .small-push-6 {
        left: 50%;
        right: auto
    }

    .small-pull-6 {
        right: 50%;
        left: auto
    }

    .small-7 {
        width: 58.33333%
    }

    .small-offset-7 {
        margin-left: 58.33333%
    }

    .small-push-7 {
        left: 58.33333%;
        right: auto
    }

    .small-pull-7 {
        right: 58.33333%;
        left: auto
    }

    .small-8 {
        width: 66.66667%
    }

    .small-offset-8 {
        margin-left: 66.66667%
    }

    .small-push-8 {
        left: 66.66667%;
        right: auto
    }

    .small-pull-8 {
        right: 66.66667%;
        left: auto
    }

    .small-9 {
        width: 75%
    }

    .small-offset-9 {
        margin-left: 75%
    }

    .small-push-9 {
        left: 75%;
        right: auto
    }

    .small-pull-9 {
        right: 75%;
        left: auto
    }

    .small-10 {
        width: 83.33333%
    }

    .small-offset-10 {
        margin-left: 83.33333%
    }

    .small-push-10 {
        left: 83.33333%;
        right: auto
    }

    .small-pull-10 {
        right: 83.33333%;
        left: auto
    }

    .small-11 {
        width: 91.66667%
    }

    .small-offset-11 {
        margin-left: 91.66667%
    }

    .small-push-11 {
        left: 91.66667%;
        right: auto
    }

    .small-pull-11 {
        right: 91.66667%;
        left: auto
    }

    .small-12 {
        width: 100%
    }

    .small-offset-12 {
        margin-left: 100%
    }

    .small-push-12 {
        left: 100%;
        right: auto
    }

    .small-pull-12 {
        right: 100%;
        left: auto
    }

    .small-centered {
        margin-left: auto;
        margin-right: auto;
        float: none
    }

    .small-uncentered {
        margin-left: 0;
        margin-right: 0
    }

    .small-last {
        float: right
    }

    .small-notlast {
        float: left
    }
}


.more-block {
    margin-top: .5em
}

body {
    min-width: 320px
}

.large-hide {
    display: none
}

.large-show {
    display: block
}

.large-show-inline {
    display: inline
}

.large-show-inlineblock {
    display: inline-block
}

@media only screen and (min-width: 1442px) {
    .xlarge-hide {
        display: none
    }

    .xlarge-show {
        display: block
    }

    .xlarge-show-inline {
        display: inline
    }

    .xlarge-show-inlineblock {
        display: inline-block
    }
}

@media only screen and (max-width: 1068px) {
    .medium-hide {
        display: none
    }

    .medium-show {
        display: block
    }

    .medium-show-inline {
        display: inline
    }

    .medium-show-inlineblock {
        display: inline-block
    }
}

@media only screen and (max-width: 735px) {
    .small-hide {
        display: none
    }

    .small-show {
        display: block
    }

    .small-show-inline {
        display: inline
    }

    .small-show-inlineblock {
        display: inline-block
    }
}

a.block {
    display: block;
    color: inherit;
    cursor: pointer;
    text-decoration: none
}

a.block:before, a.block:after {
    content: ' ';
    display: table
}

a.block:after {
    clear: both
}

a.block:hover {
    text-decoration: none
}

a.block:hover .block-link {
    text-decoration: underline
}

a.block:hover .block-link.icon-ie-parent {
    text-decoration: none
}

a.block:hover .block-link.icon-ie-parent .icon-ie-link {
    text-decoration: underline
}

.block-link {
    color: #0070c9;
    cursor: pointer
}

a.block-inline {
    display: inline-block
}

.callout {
    font-size: 17px;
    line-height: 1.52947;
    font-weight: 400;
    letter-spacing: -.021em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    border-radius: 4px;
    border: 1px solid #e3e3e3;
    background-color: #fafafa;
    margin: 1.47059em auto;
    padding: 2.23529em 8.33333% 2.11765em;
    color: #333
}

.callout > :first-child {
    margin-top: 0
}

.callout > :last-child {
    margin-bottom: 0
}

.callout-icon {
    margin-bottom: 15px
}

.callout-icon:first-child {
    margin-top: 5px
}

.callout-title {
    font-size: 32px;
    line-height: 1.09375;
    font-weight: 500;
    letter-spacing: .011em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin-top: 0;
    color: #333
}

@media only screen and (max-width: 1068px) {
    .callout-title {
        font-size: 28px;
        line-height: 1.1073;
        font-weight: 500;
        letter-spacing: .012em;
        font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif
    }
}

@media only screen and (max-width: 735px) {
    .callout-title {
        font-size: 24px;
        line-height: 1.20849;
        font-weight: 500;
        letter-spacing: .015em;
        font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif
    }
}

.callout-environment {
    background-color: #f6f6ee;
    border-color: transparent;
    margin: 1.47059em auto;
    padding: 2.23529em 8.33333% 2.11765em;
    color: #333
}

.callout-environment .callout-title {
    color: #548c8c
}

.typography-section-headline {
    font-size: 40px;
    line-height: 1.05;
    font-weight: 500;
    letter-spacing: .008em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif
}

@media only screen and (max-width: 1068px) {
    .typography-section-headline {
        font-size: 34px;
        line-height: 1.08824;
        font-weight: 500;
        letter-spacing: .01em;
        font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif
    }
}

@media only screen and (max-width: 735px) {
    .typography-section-headline {
        font-size: 28px;
        line-height: 1.1073;
        font-weight: 500;
        letter-spacing: .012em;
        font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif
    }
}

.typography-subsection-headline {
    font-size: 32px;
    line-height: 1.09375;
    font-weight: 500;
    letter-spacing: .011em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif
}

@media only screen and (max-width: 1068px) {
    .typography-subsection-headline {
        font-size: 28px;
        line-height: 1.1073;
        font-weight: 500;
        letter-spacing: .012em;
        font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif
    }
}

@media only screen and (max-width: 735px) {
    .typography-subsection-headline {
        font-size: 24px;
        line-height: 1.20849;
        font-weight: 500;
        letter-spacing: .015em;
        font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif
    }
}

.typography-subsection-subhead {
    font-size: 32px;
    line-height: 1.09375;
    font-weight: 300;
    letter-spacing: .011em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif
}

@media only screen and (max-width: 1068px) {
    .typography-subsection-subhead {
        font-size: 28px;
        line-height: 1.1073;
        font-weight: 300;
        letter-spacing: .012em;
        font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif
    }
}

@media only screen and (max-width: 735px) {
    .typography-subsection-subhead {
        font-size: 24px;
        line-height: 1.20849;
        font-weight: 300;
        letter-spacing: .015em;
        font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif
    }
}

.typography-label {
    font-size: 24px;
    line-height: 1.20849;
    font-weight: 500;
    letter-spacing: .015em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif
}

@media only screen and (max-width: 1068px) {
    .typography-label {
        font-size: 22px;
        line-height: 1.22739;
        font-weight: 500;
        letter-spacing: .016em;
        font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif
    }
}

@media only screen and (max-width: 735px) {
    .typography-label {
        font-size: 19px;
        line-height: 1.26316;
        font-weight: 500;
        letter-spacing: .018em;
        font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif
    }
}

.typography-body {
    font-size: 17px;
    line-height: 1.52947;
    font-weight: 400;
    letter-spacing: -.021em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif
}

.typography-subbody {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif
}

.typography-sosumi {
    font-size: 11px;
    line-height: 1.45455;
    font-weight: 400;
    letter-spacing: .005em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif
}

.typography-profile-title {
    font-size: 17px;
    line-height: 1.29412;
    font-weight: 400;
    letter-spacing: -.021em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif
}

.typography-subbody-headline + .typography-subbody {
    margin-top: 0
}

.typography-caption-headline + .typography-caption {
    margin-top: 0
}

.section-content {
    margin-left: auto;
    margin-right: auto;
    width: 980px
}

@media only screen and (min-width: 1442px) {
    .section-content {
        margin-left: auto;
        margin-right: auto;
        width: 980px
    }
}

@media only screen and (max-width: 1068px) {
    .section-content {
        margin-left: auto;
        margin-right: auto;
        width: 692px
    }
}

@media only screen and (max-width: 735px) {
    .section-content {
        margin-left: auto;
        margin-right: auto;
        width: 87.5%
    }
}


@media only screen and (max-width: 1068px) {
    .page-overview .profile-list-wrapper {
        width: 480px;
        margin-left: auto;
        margin-right: auto
    }
}

@media only screen and (max-width: 735px) {
    .page-overview .profile-list-wrapper {
        width: 230px
    }
}

.page-overview .profile-list {
    margin: 0
}

.page-overview .profile-list .profile-list-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 18px;
    margin-bottom: 52px
}

@media only screen and (max-width: 1068px) {
    .page-overview .profile-list .profile-list-item {
        margin-bottom: 28px
    }
}

@media only screen and (max-width: 735px) {
    .page-overview .profile-list .profile-list-item {
        margin-bottom: 32px
    }
}

.page-overview .profile-list .profile-list-item:nth-child(4n) {
    margin-right: 0
}

@media only screen and (max-width: 1068px) {
    .page-overview .profile-list .profile-list-item:nth-child(2n) {
        margin-right: 0
    }
}

@media only screen and (max-width: 735px) {
    .page-overview .profile-list .profile-list-item {
        margin-right: 0
    }
}

.page-overview .profile-list .profile-list-item.no-image {
    margin-bottom: 22px;
    width: 230px
}

.page-overview .profile-image {
    display: inline-block
}

.page-overview .profile-caption {
    padding-top: 190px
}

.page-overview .profile-caption .profile-name {
    margin-bottom: 2px
}

.page-overview .profile-name {
    font-weight: 500
}

.page-overview .typography-subsection-headline {
    margin-bottom: 33px
}

@media only screen and (max-width: 735px) {
    .page-overview .typography-subsection-headline {
        margin-bottom: 48px
    }
}

.page-overview .keyline {
    border-bottom: 1px solid #d6d6d6
}

.page-overview .image-darrengoffin {
    width: 230px;
    height: 178px;
    background-size: 230px 178px;
    background-repeat: no-repeat;
    background-image: url('/assets/images/darrengoffin.jpg')
}

.page-overview .image-nicholasjohnson {
    width: 230px;
    height: 178px;
    background-size: 230px 178px;
    background-repeat: no-repeat;
    background-image: url('/assets/images/nicholasjohnson.jpg')
}

.page-overview .image-gracecowen {
    width: 230px;
    height: 178px;
    background-size: 230px 178px;
    background-repeat: no-repeat;
    background-image: url('/assets/images/gracecowen.jpg')
}


/* Lab members */

.page-overview .section-labmembers {
    padding-top: 53px
}

@media only screen and (max-width: 735px) {
    .page-overview .section-labmembers {
        padding-top: 66px
    }
}

@media only screen and (max-width: 1068px) {
    .page-overview .section-labmembers .keyline {
        padding-top: 24px
    }
}

@media only screen and (max-width: 735px) {
    .page-overview .section-labmembers .keyline {
        padding-top: 32px
    }
}

/* Alumni */

.page-overview .section-alumni {
    padding-top: 75px
}

@media only screen and (max-width: 735px) {
    .page-overview .section-alumni {
        padding-top: 66px
    }
}

@media only screen and (max-width: 735px) {
    .page-overview .section-alumni .typography-subsection-headline {
        margin-bottom: 30px
    }
}


