z/* Initial setup */

html {
	font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0;
    padding: 0
}

ul, ol, li, h1, h2, h3, p {
    margin: 0;
    padding: 0
}

footer, header, main {
    display: block
}

* , * :before, * :after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html, body {
    height: 100%
}


/* Typography */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    font-size: 17px;
    line-height: 1.5;
    color: #333;
    font-weight: 300
    font-style: normal
}

p {
    margin-bottom: 1.5em
}

strong {
	  font-weight: 500;
}

h1 {
    font-size: 40px;
    margin-bottom: 0.5em;
    font-weight: 400;
    line-height: 1;
}

h2 {
    font-size: 24px;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-weight: 400;
    line-height: 1;
}

a {
	color: #a51c30;
}


a:link {
	color: #a51c30;
	text-decoration: none;
}

a:visited {
	color: #a51c30;
}

a:active {
	font-weight: 700
}

a:hover {
	text-decoration: underline;
}

hr {
    border: none;
    border-top: 1px #f3f3f3 solid;
    margin: 2em 0
}

@media only screen and (max-width: 767px) {

	h1 {
	    font-size: 28px;
		margin-bottom: 0.5em;
		font-weight: 400;
		line-height: 1;
	}

	h2 {
    	font-size: 20px;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
		font-weight: 400;
		line-height: 1;
	}
}

/* Navigation bar */


nav[role="navigation"] {
	position: relative;
	top: 0;
    left: 0;
    width: 100%;
	width: 100%;
    border-bottom: 1px solid #a51c30;
    margin: 0 auto;
	padding-top: 0.5em;
}

nav[role="navigation"] {
    background-color: #FAFAFA;
	text-align: center;
	font-size: 12px;
}

nav[role="navigation"] ul {
    font-weight: 400;
    list-style: none
}

nav[role="navigation"] ul li {
    display: inline-block;
}

nav[role="navigation"] ul li a:link {
	margin: 0 0 0 0;
	padding-left: 0;
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    padding: 0.5em 0.75em;
}

nav[role="navigation"] ul li a:visited {
    color: #333
}

nav[role="navigation"] ul li a:hover {
    color: #a51c30
}

/* Dropdown menu */

.dropdown ul {
	display: none;
	position: absolute;
    background-color: #FAFAFA;
    border-top: 1px solid #a51c30;
	min-width: 160px;
	text-align: left;
	z-index: 1;
}

.dropdown .dropdown-content a:link {
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0;
    display: block;
    margin-left: 15px;
    border-bottom: none;
    font-weight: 300;
    padding: 0.75em 0;
    font-size: 13px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown .dropdown-content li {
	display: block;
}

/* Highlight current page in navigation bar */



@media only screen and (max-width: 767px) {

    nav[role="navigation"] {
        width: 100%;
        position: relative;
        background: #FAFAFA;
		border-bottom: 1px solid #a51c30;
        border-right: none;
        padding: 20px 30px;
        overflow: hidden

    }


	nav[role="navigation"] ul li {
    	border-bottom: 1px solid #e6e6e6;
    	display: block;
	text-align: left;

	}

nav[role="navigation"] ul li a:link {

    padding: 0.5em;

}

    nav[role="navigation"].open > * {
        display: block
    }

    nav[role="navigation"] > h2, nav[role="navigation"] ul {
        display: none
    }

.dropdown ul {
  position: relative;


}

  .menu-toggle {

        float: right;
        content: ' ';
        height: 20px;
        width: 20px;
        background-image: url("/assets/images/icon-close.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 21px 21px;
        margin-top: -30px;
        margin-right: 12px;
        cursor: pointer
  }

  .menu-toggle.open {

    background-image: url("/assets/images/icon-menu.svg")
  }
}

/* Next */

main {

    min-height: 100%;
    height: auto !important;
    height: 100%
    
	position: relative;
    display: block;
    width: 620px;
    margin: 0 auto;
margin-top: 2.5em;


}

@media only screen and (max-width: 767px) {
main {

margin-top: 1em;


}


}

/* Footer */

footer[role="contentinfo"] {
  background: #333;
  color: white;
  padding: 20px 30px 0px 30px;
  min-height: 52px
}

footer[role="contentinfo"] p {
  font-size: 0.75em;
  color: #ccc;
  line-height: 1em;
}

footer[role="contentinfo"] aside {
    position: relative;
    width: 100%;
    max-width: 700px;
    margin-right: 68px
}

footer[role="contentinfo"] aside i {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: 16px;
    display: block;
    margin-left: 1em;
    float: right
}

footer[role="contentinfo"] aside i.twitter {
    background-image: url("/assets/images/icon-twitter.svg")
}

@media only screen and (max-width: 767px) {

    main {
        max-width: 100%;
        min-width: 320px;
        margin-left: 0;
        padding: 30px 30px 0
    }

    footer[role="contentinfo"] {
        margin-left: 0
    }
}

@media only print {
    html body {
        background: white;
        font-size: 13pt;
        padding: 0.5in
    }

    html body * {
        -webkit-print-color-adjust: exact
    }

    a {
        color: black !important;
        text-decoration: underline !important
    }

    a[href^="http://"]:after {
        content: " (" attr(href) ") ";
        color: #444
    }

    h1, h2, h3, h4, h5, h6, p, article > div, pre, table {
        page-break-inside: avoid
    }

    details:not([open]) {
        visibility: visible
    }

    details:not([open]) summary {
        display: none !important
    }

    details:not([open]) > * , details:not([open]) {
        display: block
    }

    .alert, .success, .info, .warning, .danger {
        margin: 1.5em 0
    }

    main {
        width: auto;
        padding: 0;
        border: 0;
        float: none !important;
        color: black;
        background: transparent;
        margin: 0;
        max-width: 100%;
        min-height: 1in
    }

    nav[role="navigation"] {
        background: transparent;
        border: none;
        width: auto;
        position: static;
        padding: 0
    }

    nav[role="navigation"] h2, nav[role="navigation"] ul {
        display: none
    }

    nav[role="navigation"] #logo {
        position: static;
        margin-bottom: 1.5em
    }

    nav[role="navigation"] #logo a {
        background-position: -15px
    }

    footer[role="contentinfo"] {
        display: none
    }
}

/* Photo cards */

.card ul li {
  margin: 1em 1em;
  width: 40%;
  display: inline-block;
  list-style: none;
}

.card ul ul {
  border: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.card ul ul li {
  margin: 0;
  border: none;
  width: 100%;
  list-style: none;
  padding: 0.25em 0 0.5em 0;
}

.card ul li img {
  width: 100%;
  height: auto;
}

/* Google maps */

.google-maps {
	position: relative;
	padding-bottom: 75%; // This is the aspect ratio
	height: 0;
	overflow: hidden;
	margin-bottom: 20px;
}

.google-maps iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}

/* Table */

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px 1em;
    text-align: left;
}

th {
    background-color: #a51c30;
    color: white;
    text-align: center;
}

tfoot {
	background-color: DCDCDC;

}

