html {
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-color:white
}

body {
    margin: 0;
    padding:0
}

ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, hgroup, p, blockquote, figure, form, fieldset, input, legend, pre, abbr {
    margin: 0;
    padding:0
}

pre, code, address, caption, th, figcaption {
    font-size: 1em;
    font-weight: normal;
    font-style:normal
}

fieldset, iframe, img {
    border:none
}


article, aside, footer, header, nav, main, section, summary, details, hgroup, figure, figcaption {
    display:block
}

*, * :before, * :after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing:border-box
}

html, body {
    height:100%
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "SF Hello", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #333;
    font-weight:300
}

body pre, body code {
    font-family: "SF Mono", Menlo, Consolas, Monaco, "Courier New", monospace, serif
}

a:link {
    color: #0088cc;
    text-decoration:none
}

a:hover {
    color: #0088cc;
    text-decoration:underline
}

p {
    margin-bottom:1em
}

h1 {
    margin-bottom: 0.5em;
    font-size: 3em;
    font-weight: 300;
    line-height:1
}

h2 {
    margin-bottom: 0.5em;
    font-size: 2.5em;
    font-weight: 300;
    line-height:1
}

h3 {
    margin-bottom: 0.5em;
    font-size: 1.5em;
    font-weight: 300;
    line-height:1
}

h4 {
    margin-bottom: 0.5em;
    font-size: 1.25em;
    font-weight: 300;
    line-height:1.2
}

h5 {
    margin-bottom: 0.5em;
    font-size: 1.175em;
    font-weight: 500;
    line-height:1.4
}

h6 {
    margin-bottom: 0.5em;
    font-size: 1em;
    font-weight: 700;
    line-height:1.5
}

nav[role="navigation"] {
    width: 250px;
    position: fixed;
    overflow: scroll;
    left: 0;
    top: 0;
    bottom: 0;
    background: #FAFAFA;
    border-right: 1px solid #e6e6e6;
    padding: 20px 30px;
}

:root {
  --header-background-color: white;
  --header-title-color: black;
  --header-subtitle-color: #5383d3;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", sans-serif;
}

nav[role="navigation"] h1 a {
  color: var(--header-title-color);
  font-size: 40px;
  text-decoration: none;
}

nav[role="navigation"] h1 span {
  color: var(--header-subtitle-color);
}

nav[role="navigation"] ul {
    border-top: 1px solid #e6e6e6;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 30px;
    list-style: none
}

nav[role="navigation"] ul li {
    border-bottom: 1px solid #e6e6e6
}

nav[role="navigation"] ul li a:link {
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    display: block;
    padding: 10px
}

nav[role="navigation"] ul li a:hover {
    color: #0088cc
}

main {
    max-width: 798px;
    min-width: 320px;
    margin-left: 250px;
    padding: 35px 30px 0;
    min-height: 100%;
    height: auto !important;
    height: 100%
}

article:first-of-type {
    padding-bottom:36px
}

article h2 {
    padding-top:1.1em
}

article h3 {
    padding-top:1em
}

article h4 {
    padding-top: 1em;
    border-bottom: 1px #f3f3f3 solid;
    padding-bottom:0.5em
}

article h5 {
    margin-top:1em
}

article header {
    width: 100%;
    display: inline-block;
    padding-bottom:2.5em
}

article header h1 {
    padding-bottom:0.125em
}

article header .byline {
    float: left;
    font-size: 14px;
    margin-left:3em
}

article header .byline img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px #ccc solid;
    position: absolute;
    margin-right: 0.25em;
    margin-top:-6px
}

article header .byline span {
    padding-left:42px
}

article header .about {
    float: none;
    clear: both;
    font-size: 14px;
    font-weight: 400;
    color: #aaa;
    border-left: 1px #aaa solid;
    margin: 23px 3em 23px 0;
    padding:4px 0 4px 10px
}

article header time {
    float: left;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    color:#aaa
}

article header .tags {
    display: block;
    font-size: 12px;
    font-weight: 400;
    margin-top:0
}

article:not(:first-of-type) {
    border-top: 1px solid #e6e6e6;
    padding:36px 0
}

article blockquote {
    border-left: 5px #c3c3c3 solid;
    margin: 0.5em 0 23px 1em;
    padding: 4px 0 2px 10px;
    color:#333
}

article blockquote p:last-child {
    margin-bottom:0
}

article ul, article ol {
    padding-left: 40px;
    margin:1em 0
}

article ul ul, article ul ol, article ol ul, article ol ol {
    margin:0
}

article ul {
    list-style:disc
}

article ul ul {
    list-style:circle
}

article ul ul ul {
    list-style:square
}

article ol {
    list-style:decimal
}

article dl {
    margin:2em 0 1em 0
}

article dl:after {
    content: "";
    display: table;
    clear:both
}

article dl dt {
    float: left;
    clear: right;
    margin-right: 1em;
    display: block;
    width: 28%;
    text-align:right
}

article dl dd {
    float: right;
    width: 65%;
    margin-bottom: 1em;
    overflow:scroll
}

article dl dd {
    padding-bottom: 1em;
    border-bottom:1px #f3f3f3 solid
}

article table {
    width: auto;
    min-width: 68%;
    margin: 2em auto 3em auto;
    border-collapse: separate;
    border:1px #e3e3e3 solid
}

article table th {
    background: #fafafa;
    font-weight: 700;
    text-align:center
}

article table th, article table td {
    width: 50%;
    padding: 0.5em 1.5em;
    border-bottom:1px #f3f3f3 solid
}

article table th:not(:first-child), article table td:not(:first-child) {
    border-left:1px #f3f3f3 solid
}

article table tr:last-child td {
    border-bottom:none
}

article details {
    margin-top: 0;
    cursor:pointer
}

article details summary {
    padding-bottom: 0.5em;
    outline: none;
    margin-top:0
}

article details summary:after {
    content: "Expand";
    text-transform: lowercase;
    font-variant: small-caps;
    border-bottom:1px #ccc dashed
}

article details[open] summary:after {
    content: "Collapse"
}

article details[open] * :not(summary) {
    cursor:auto
}

article details.download {
    margin-top: 0;
    cursor:pointer
}

article details.download summary {
    padding-bottom: 0.5em;
    outline: none;
    margin-top:0
}

article details.download summary:after {
    content: none;
    text-transform: lowercase;
    font-variant: small-caps;
    border-bottom:1px #ccc dashed
}

article details.download[open] summary:after {
    content:none
}

article details.download[open] * :not(summary) {
    cursor:auto
}

article > details {
    margin-left:40px
}

article .good pre, article pre.good {
    background: #E6FFE5;
    border-color:#C0FFBC
}

article .good pre:before, article pre.good:before {
    content: "✅";
    float:right
}

article .bad pre, article pre.bad {
    background: #F9E2E4;
    border-color:#F6B7BE
}

article .bad pre:before, article pre.bad:before {
    content: "⛔️";
    float:right
}

article .links ul {
    list-style:none
}

article .links ul ul {
    list-style: disc;
    margin-top:5px
}

article .links a:after {
    content: " ›"
}

.title a:link {
    color:#333
}

article input.detail[type=checkbox] {
    visibility: hidden;
    cursor: pointer;
    height: 0;
    width: 100%;
    margin-bottom: 2em;
    display: block;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    font-family: inherit;
    position: relative;
    top:-.85rem
}

article p + input.detail[type=checkbox] {
    margin-top:auto
}

article .screenonly {
    display:none
}

@media screen {
    article .screenonly {
        display:inherit
    }

    article input.detail[type=checkbox]:before {
        content: "▶ ";
        visibility: visible;
        font-size:80%
    }

    article input.detail[type=checkbox]:after {
        text-transform: lowercase;
        font-variant: small-caps;
        border-bottom: 1px #ccc dashed;
        color: #666666;
        content: "More detail";
        visibility:visible
    }

    article input.detail[type=checkbox]:checked:before {
        content: "▼ "
    }

    article input.detail[type=checkbox]:checked:after {
        content: "Less detail"
    }

    article input.detail[type=checkbox] + .more {
        transition:0.5s opacity ease, 0.5s max-height ease
    }

    article input.detail[type=checkbox]:checked + .more {
        visibility: visible;
        max-height:1000rem
    }

    article input.detail[type=checkbox]:not(:checked) + .more {
        overflow: hidden;
        max-height: 0px;
        opacity:0
    }
}

article .more > p:first-of-type {
    margin-top:0
}

@media only screen and (max-width: 767px) {
    nav[role="navigation"] {
        width: 100%;
        position: relative;
        background: #FAFAFA;
        border-bottom: 1px solid #e6e6e6;
        border-right: none;
        padding: 20px 30px;
        overflow: hidden
    }

    nav[role="navigation"].open > * {
        display: block
    }

    nav[role="navigation"]> h2, nav ul {
        display:none
    }

    .menu-toggle {
        float: right;
        content: ' ';
        height: 20px;
        width: 20px;
        background-image: url("/assets/images/icon-close.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 21px 21px;
        margin-top: -54px;
        margin-right: 12px;
        cursor:pointer
    }

    .menu-toggle.open {
        background-image: url("/assets/images/icon-menu.svg")
    }


    main {
        max-width: 100%;
        min-width: 320px;
        margin-left: 0;
        padding: 30px 30px 0
    }

    h1 {
        font-size: 48px;
        font-weight: 300;
        line-height:1
    }

    h2 {
        font-size: 40px;
        font-weight: 300;
        line-height:1.1
    }

    h3 {
        font-size: 38px;
        font-weight: 300;
        line-height:1.1
    }

    h4 {
        font-size: 36px;
        font-weight: 300;
        line-height:1.2
    }

    h5 {
        font-size: 24px;
        font-weight: 500;
        line-height:1.4
    }

    h6 {
        font-size: 18px;
        font-weight: 700;
        line-height:1.5
    }

    div.highlighter-rouge {
        margin-left:0
    }

    article blockquote {
        margin-left:0.5em
    }
}

@media only print {
    html body {
        background: white;
        font-size: 12pt;
        padding:0.5in
    }

    html body * {
        -webkit-print-color-adjust:exact
    }

    a {
        color: black !important;
        text-decoration: underline !important
    }

    h1, h2, h3, h4, h5, h6, p, article > div, pre, table {
        page-break-inside:avoid
  }

    main {
        width: auto;
        padding: 0;
        border: 0;
        float: none !important;
        color: black;
        background: transparent;
        margin: 0;
        max-width: 100%;
        min-height: 1in
    }

    nav[role="navigation"] {
        background: transparent;
        border: none;
        width: auto;
        position: static;
        padding: 0
    }

    nav[role="navigation"] h2, nav[role="navigation"] ul {
        display: none
    }
}
