<head>
  <meta charset="utf-8" />
  <% if @item[:title] %>
    <title>Goffin lab - <%= @item[:title] %></title>
  <% else %>
    <title>Goffin lab</title>
  <% end %>
  <meta name="author" content=“Darren Goffin” />
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <link rel="stylesheet" media="all" href="/assets/stylesheets/stylesheet.css" />    
  <link rel="canonical" href="https://goffinlab.com/“>
  
  <meta name="description" content="Our research aims to understand neural circuits in health and disease.">

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content=“@DarrenGoffin” />
  
  <meta name="twitter:title" content="Swift.org" />
  <meta name="twitter:description" content="Swift is a general-purpose programming language built using a modern approach to safety, performance, and software design patterns." />
  
  <meta property="og:site_name" content=“Goffinlab.com” />
  <meta property="og:title" content=“goffinlab.com” />
  <meta property="og:url" content="https://goffinlab.com” />
  <meta property="og:description" content=“The Goffin lab is focused on neuroscience research“ />
  
</head>


