<header id="banner">
<div id="nameplate">
<h2 id="siteTitle"><a href="https://goffinlab.com/research/">GOFFIN LAB</a></h2>
</div>
<nav id="toc">
<ul id="menu">
<li class="menu-item"><a href="https://goffinlab.com/research/">Home</a></li>
<li class="menu-item"><a href=/research/>Research</a></li>
<li class="menu-item"><a href=/lab-members/>People</a></li>
<li class="menu-item"><a href=/publications/>Publications</a></li>
<li class="menu-item"><a href=/news/>News</a></li>
<li class="menu-item"><a href=/open-positions/>Positions</a></li>
<li class="menu-item"><a href=/contact/>Contact</a></li>

</ul>
</nav>
</header>
