<nav role="navigation">
  <header role="banner">
    <h1 id="logo"></h1>
  </header>

  <div id="menu-toggle" class="menu-toggle open"></div>

	<ul>
		<li><a href=/research/>Research</a></li>
		<li><a href=/publications/>Publications</a></li>

		<li>
			<a href=/lab-members/>People &#9660;</a>
			<ul class="dropdown-content">
				<li><a href=/darren-goffin/>Darren Goffin</a></li>
				<li><a href=/lab-members/>Lab members</a></li>
				<li><a href=/alumni/>Alumni</a></li>
			</ul>
		</li>

        <li><a href=/news/>News</a></li>
	  	
	  	<li><a href=/open-positions/>Open positions</a></li>
		<li><a href=/contact/>Contact</a></li>
	</ul>
</nav>
