<!DOCTYPE html>
<html lang="en">
<%= render '/head.*' %>
<body>
  <%= render '/nav.*' %>

<main role="main">


<section class="section section-executiveprofiles">

	<div class="section-content">

		<div class="profile-list-wrapper">
			<h1 class="typography-subsection-headline">Lab members</h1>
			<ul class="profile-list">
				<li class="profile-list-item">
				<a  href="">
					<figure class="profile-image darrengoffin">
						<figcaption class="profile-caption">
							<h3 class="typography-body block-link profile-name">Darren Goffin</h3>
							<h4 class="typography-body typography-profile-title">Principal Investigator</h4>
						</figcaption>
					</figure>
				</a>										
				</li>	
				
				<li class="profile-list-item">
				<a  href="">
					<figure class="profile-image darrengoffin">
						<figcaption class="profile-caption">
							<h3 class="typography-body block-link profile-name">Darren Goffin</h3>
							<h4 class="typography-body typography-profile-title">Principal Investigator</h4>
						</figcaption>
					</figure>
				</a>										
				</li>	
				
				<li class="profile-list-item">
				<a  href="">
					<figure class="profile-image darrengoffin">
						<figcaption class="profile-caption">
							<h3 class="typography-body block-link profile-name">Darren Goffin</h3>
							<h4 class="typography-body typography-profile-title">Principal Investigator</h4>
						</figcaption>
					</figure>
				</a>										
				</li>	
			</ul>
		</div>
	</div>

</section>





  </main>
  <%= render '/footer.*' %>

  <script src="/assets/javascripts/application.js"></script>

</body>
</html>

