<!DOCTYPE html>
<html lang="en">
<%= render '/head.*' %>
<body class="page-overview ">


  <%= render '/nav.*' %>

<main id="main" class="main" role="main" data-page-type="overview">
<section class="section section-executiveprofiles " data-analytics-section-engagement="name:executive profiles">
<div class="section-content">
<div class="profile-list-wrapper">
<h1 class="typography-subsection-headline">Lab members</h1>
<ul class="profile-list">
<li class="profile-list-item">
<a  href="/uk/leadership/tim-cook/" class="block" data-analytics-region="learn more">														
<figure class="profile-image darrengoffin">
<figcaption class="profile-caption">
<h3 class="typography-body block-link profile-name">Darren Goffin</h3>
<h4 class="typography-body typography-profile-title">PI</h4>
</figcaption>
</figure>
</a>
</li>

<li class="profile-list-item">
<a  href="/uk/leadership/tim-cook/" class="block" data-analytics-region="learn more">														
<figure class="profile-image nicholasjohnson">
<figcaption class="profile-caption">
<h3 class="typography-body block-link profile-name">Nicholas Johnson</h3>
<h4 class="typography-body typography-profile-title">Postdoc</h4>
</figcaption>
</figure>
</a>
</li>

<li class="profile-list-item">
<a  href="/uk/leadership/tim-cook/" class="block" data-analytics-region="learn more">														
<figure class="profile-image gracecowen">
<figcaption class="profile-caption">
<h3 class="typography-body block-link profile-name">Grace Cowen</h3>
<h4 class="typography-body typography-profile-title">PhD student</h4>
</figcaption>
</figure>
</a>
</li>

</ul>
</div>

<div class="keyline"></div>

</div>
</section>
								
		</main>


  <%= render '/footer.*' %>

  <script src="/assets/javascripts/application.js"></script>

</body>
</html>

